:global(#app) {
  .grid {
    margin-top: 30px;
  }
  .header {
    margin-top: 30px;
    font-family: 'Permanent Marker', cursive;
    color: #8982F4;
  }

  .list {
    color: #8982F4;
    font-family: 'Permanent Marker', cursive;
    font-size: 200%;
  }
}
