:global(#app) {
  .grid {
    margin-top: 30px;
  }
  .header {
    margin-top: 30px;
    font-family: 'Permanent Marker', cursive;
    color: #9797EB ;
    font-size: 350%;
  }

  .list {
    color: #8982F4;
    font-family: 'Permanent Marker', cursive;
    font-size: 200%;

  }

  .label {
    font-family: 'Permanent Marker', cursive;
    font-size: 200%;
    margin-top: -20px;
  }

  .form {
    margin-top: 20px;
  }

  .app {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
    width: 700px;
    height: 600px;
    border: 15px solid black;
    // margin: auto;
    margin-top: 20px;
  }
}
