:global(#app) {
  .grid {
    margin-top: 30px;
  }
  .header {
    margin-top: 30px;
    font-family: 'Permanent Marker', cursive;
    color: #8982F4;
    font-size: 350%;
  }

  .list {
    color: #8982F4;
    font-family: 'Permanent Marker', cursive;
    font-size: 200%;
  }

  .label {
    font-family: 'Permanent Marker', cursive;
    font-size: 200%;
    margin-top: -20px;
  }

  .form {
    margin-top: 20px;
  }

  .app {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
    width: 700px;
    height: 600px;
    // top: 50%;
    // left: 50%;
    // margin-right: 150px;
    // margin-bottom: -200px;
    border: 15px solid green;
    // padding: 50px;
    // margin: 20px;
    ;
  }
}
